/* hero section  */

#hero_section {
  width: 100%;
  height: 100vh;
  background-color: #1d1d1d;
  z-index: 9;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
}

#hero_section h2 {
  font-family: BebasNeue;
  font-size: 8rem;
  font-weight: 400;
  height: 7.16rem;
  transform-origin: center;
  overflow: hidden;
  display: flex;
  align-items: center;
}
#hero_section h2 span {
  height: fit-content;
  display: inline-block;
  height: 7.16rem;
  line-height: 1;
}

#landing_video {
  position: absolute;
  top: 50%;
  left: 50.3%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: white;
  height: 5.66rem;
  width: auto;
  clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}
#landing_video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}
.letter_inner {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  width: fit-content;
  display: inline-block;
}
.letter_space {
  padding-right: 1rem;
}

/* hero section start  */

/* upcoming section */

#upcoming_section {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 5rem;
}
#upcoming_section img {
  width: 100%;
  height: 100%;
}

/* marquee */

#marquee_container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  top: 2.1rem;
}
#marquee_container h2 {
  display: inline-block;
  font-size: 5.5rem;
  color: transparent;
  white-space: nowrap;
  margin-right: 4rem;
  font-family: BebasNeue;
  font-weight: 500;
  animation-name: marq;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: url(/images/home/marquee.png);
}

.dark #marquee_container h2 {
  color: var(--lightbrown);
}

@keyframes marq {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-100% - 4rem));
  }
}
/* directors section */

#directors_section {
  width: 100%;
  padding: 3.5rem;
}
/* highlight section */

#highlight_section {
  width: 100%;
  position: relative;
  background-color: #1d1d1d;
  padding: 3.5rem;
}

#highlight_section .tag {
  color: #FCFCFC;
}
#highlight_section h2 {
  font-family: BebasNeue;
  color: #F5F5DC;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1;
}

#highlights_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 4rem;
}

.highlight_card {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff50;
  padding-bottom: 2rem;
}

.highlight_card:last-child {
  border: none;
}

.highlight_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
  width: 30%;
}

.highlight_info p {
  font-family: Helvetic;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #fcfcfc !important;
}
.highlight_info h4 {
  font-family: BebasNeue;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}
.highlight_info .category {
  font-family: Urbanist;
  font-weight: 700;
  font-size: 0.95rem;
  text-transform: uppercase;
  padding: 0.8rem 1.8rem;
  border: 1px solid #fff;
  border-radius: 5px;
  display: inline-block;
  margin-top: 0.8rem;
}

.highlight_img {
  width: 35%;
  height: auto;
}

.highlight_img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* about section  */

#about_section {
  width: 100%;
  position: relative;
  background-image: url(/images/home/about_banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_overlay {
  width: 100%;
  height: 100%;
  background-color: #1d1d1dcf;
  padding: 8rem 28rem;
}

.about_overlay .tag {
  color: #fff;
}
.about_overlay .heading {
  color: #fff;
}
.about_overlay .heading span {
  color: #fff;
}
.about_overlay .description {
  color: #fff;
  width: 80%;
}
