/* gallery section */
#gallery {
  width: 100%;
  padding: 3.5rem;
  min-height: 100vh;
}

/* Grid for 3 columns */
.gallery_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 2rem;
  height: 100%;
  overflow: hidden;
}

/* Column styling */
.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: fit-content;
}

/* Images */
.col img {
  width: 100%;
  display: block;
  height: auto;
}
