#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .8rem 3.5rem;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  z-index: 99;
}
#logo {
  text-decoration: none;
}
#logo img {
  width: 3.8rem;
  height: auto;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav_links a {
  text-decoration: none;
  color: #1D1D1D;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  font-family: heading;
  height: 1.3rem;
  overflow: hidden;
  position: relative;
}

.nav_links a span {
  display: inline-block;
}

