#navbar {
  position: fixed;
  transform: translateY(0);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .9rem 3.5rem;
  z-index: 99;
  mix-blend-mode: difference;
}
#logo {
  text-decoration: none;
  filter: invert(1);
}
#logo img {
  width: 3.8rem;
  height: auto;
}
.nav_links {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.nav_links a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  font-family: var(--tag-font);
  height: 1.3rem;
  overflow: hidden;
  position: relative;
}

.nav_links a span {
  display: inline-block;
}

